/* Dashboard.css */
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .d-flex {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-top: 20px;
    overflow: auto;
    background-color: #f8f9fa; /* Adjust background color as needed */
  }
  
  .main-content {
    margin-left: 250px; /* Adjust margin to accommodate the sidebar width */
    width: calc(100% - 250px); /* Make the main content take the remaining width */
    padding: 20px;
    height: 100%; /* Ensure the main content also takes full height */
    overflow: auto; /* Add scroll if content overflows */
  }
  
  .navbar-nav {
    flex-direction: column;
  }
  
  .nav-link {
    margin-bottom: 10px;
  }


  